<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
   <%- include('./partials/nav.ejs') %>
    
    <div class="about content">
        <h2>About the project</h2>
        <p>This is a simple Library made with NodeJS, Express and MongoDB. It's part of The Odin Project backend course.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>